@use '../../styles/variables' as v;

.App {
  background-color: v.$color;
  max-width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo {
    height: 8vmin;
    pointer-events: none;
    margin-top: 1rem;
  }

  &-header {
    background-color: v.$color;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: v.$color;
  }
}
